*{
    font-family: 'Montserrat', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: beige;
}

.title{
    margin-top: 100px;
    text-align: center;
}
.title > p{
    font-size: 0.9rem;
}
.title > h2 {
    font-style: italic;
}
h2{
    font-size: 1rem;
}
.mainTitle{
    margin: -20px 0;
    font-size: 5.5rem;
}
.formBox {
    padding: 20px 35px;
    border-radius: 10px;
    text-align: center;
}
.button {
    padding: 10px;
}
.textField{
    padding: 10px;
    width: 400px;
}
.icon {
    width: 64px;
}
.textInsideList{
    padding: 10px;
    margin: 0px;
    background-color: #fee2f8;
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
    border-bottom: 2px solid lightgray;
    background-image: url("assets/bin_closed.png");
}
.objectList{
    width: 500px;
    min-height: 500px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    border: 2px solid lightgray;
}

.trashIcon{
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("assets/bin_closed.png");
}
.singleTask{

}